/* ==========================================
   GLOBAL RESPONSIVE
========================================== */

html {
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 320px;
}

@media (min-width: 768px) {

  .hide-tablet {
    display: none !important;
  }

}

@media (min-width: 1200px) {

  .hide-desktop {
    display: none !important;
  }

}

@media (max-width: 767px) {

  .hide-mobile {
    display: none !important;
  }

}